
body {
    margin-left:150px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to right, #306a91, #1a3042);
    border-radius: 10px;
    color: white;
    display: flex;
}

html {
    scroll-behavior: smooth;
}
.intro{
    margin-left: 190px;
    padding-top: 50px;
    font-size: 22px;
}

.sidebar {
    position: fixed;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 20px;
    padding: 0 16px;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255 / 8%);
    background: rgba(0, 0, 0, 30%);
    backdrop-filter:blur(1px);
  
}

.sidebar::-webkit-scrollbar {
  width: 4px;              
}

.sidebar::-webkit-scrollbar-track {
  background: #6665657c;        
}

.sidebar::-webkit-scrollbar-thumb {
  background: #8f8a8a;         
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #a39e9e;         
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #fff;
}

.sidebar a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #bbb;
    transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
    background: #676565aa;
    color: #fff;
    border-radius: 12px;
   
}

.modules {
    margin-left: 15px;
    cursor: pointer;
       
}

.content {
    margin-left: 220px;
    padding: 30px;
    flex: 1;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    color: #ccc;
}

summary {
    font-size: 16px;
    padding: 5px;
    color: #eaeef0;
    cursor: pointer;
    position: relative;
    line-height: 19px;
}

details{
    line-height:4px;
    margin-left: -5px;

}

#module-1 a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    
}

#module-1 ul li {
    margin-top: 5%;
    margin-left: 0%;
    
}

#M1topic-1 {
    margin-top: 300px;
    margin-left: -5%;
    line-height: 30px;
    font-size: 20px;
    
    display: block;
    clear: both;
}



.m1ex-1 ul {
    background-color: #68636380;
    padding: 10px;
    border-radius: 12px;
    line-height: 30px;
    width: 400px;
}

.m1ex-2 ul {
    background-color: #68636380;
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 400px;
}

.m1ex-3 ul {
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 400px;
    
}

.m1ex-4 {
    border-radius: 10px;
}

#M2topic-1 {
    margin-top: 300px;
    margin-left: 1%;
    line-height: 30px;
    font-size: 20px;
    display: block;
    clear: both;
}

.m2ex-1 ul {
    background-color: #68636380;
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 500px;
}

.m2ex-2 ul {
    background-color: #68636380;
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 400px;
}

.m2ex-3 ul {
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 400px;
}

.m2ex-4 {
    border-radius: 10px;
}

#M3topic-1 {
    margin-top: 850px;
    margin-left: 1%;
    line-height: 30px;
    font-size: 20px;
    display: block;
    clear: both;
}

.m3ex-1 ul {
    background-color: #68636380;
    padding: 10px;
    border-radius: 10px;
    line-height: 30px;
    width: 500px;
}

@media(min-width:320px) and (max-width:480px){

body {
    margin-left:40px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: rgba(3, 37, 60);
    border-radius: 10px;
    color: white;
    display: flex;
}

html {
    scroll-behavior: smooth;
}
.intro{
    margin-left: 190px;
    padding-top: 50px;
    font-size: 10px;
}

.sidebar {
    position: fixed;
    top: 24px;
    left: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 20px;
    padding: 0 16px;
    width: 150px;
    height: 100%;
    overflow-y: auto;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255 / 8%);
    background: rgba(0, 0, 0, 30%);
    backdrop-filter:blur(1px);
  
}
.sidebar::-webkit-scrollbar {
  width: 4px;              
}

.sidebar::-webkit-scrollbar-track {
  background: #222;        
}

.sidebar::-webkit-scrollbar-thumb {
  background: #555;         
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #888;         
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.sidebar a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #bbb;
    transition: background 0.3s, color 0.3s;
}
.modules {
    margin-left: 8px;
    cursor: pointer;
}

.content {
    margin-left: 250px;
    padding: 30px;
    flex: 1;
}

.content h1 {
    font-size: 5px;
    margin-bottom: 10px;
}

.content p {
    max-width: 800px;
    font-size: 10px;
    color: #ccc;
}

summary {
    font-size: 10px;
    padding: 5px;
    color: #eaeef0;
    cursor: pointer;
    position: relative;
    line-height: 10px;
}

details{
    line-height:12px;
    margin-left: -5px;

}
#module-1 a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
}

#module-1 ul li {
    margin-top: 5%;
    margin-left: 0%;
}
#M1topic-1 {
    margin-top: 300px;
    margin-left: -1%;
    line-height: 15px;
    font-size: 7px;
    font-style: bold;
    display: block;
    clear: both;
}
#M2topic-1{
    margin-top: 300px;
 
    line-height: 15px;
    font-size: 7px;
    font-style: bold;
    display: block;
    clear: both;
}
#M3topic-1{
    margin-top: 300px;

    line-height: 15px;
    font-size: 7px;
    font-style: bold;
    display: block;
    clear: both;
}
}